.header {
    position: fixed;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 10;
}

.navbar-menu {
    display: flex;
}

.navbar-menu li {
    padding: 0 1rem;
}

.navbar-menu a {
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-bars {
    display: none;
}

/* 반응형 css */
@media screen and (max-width:1240px) {
    .nav-bars {
        display: block;
    }

    .navbar-menu {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        z-index: -1;
        background: rgba(0, 0, 0, .9);
    }

    .navbar-menu.active {
        left: 0;
    }

    .navbar-menu li {
        padding: 1rem 0;
    }

    .navbar-menu a {
        font-size: 2rem;
    }
}